.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 94%;
    margin-left: 10px;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: beige;
    border-radius: 5px;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: lightcoral;
    color: white;
    border-radius: 5px;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }

  #hud {
    display: flex;
    justify-content: space-between;
  }

  .hud-prefix {
    text-align: center;
    font-size: 2rem;
    margin-right: 10px;
  }

  .hud-main-text {
    text-align: center;
    margin-right: 10px;
  }

  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid lightcoral;
    margin-top: 0.8rem;
    margin-left: 10px;
  }

  #progressBarFull {
    height: 3.4rem;
    background-color: lightcoral;
    width: 0%;
  }

  #question {
    margin-left: 10px;
  }

  #loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid lightcoral;
    width: 12rem;
    height: 12rem;
    animation: spin 1s linear infinite;
  }

  h2 {
    font-size: 3.4rem;
  }

  .pokemon-sprite {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
  }

  .card-img {
    position: absolute;
    top: 35%;
    left: 35%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }